<div class="container">
	<div class="collection">
	    <a href="" class="collection-item"><span class="new badge orange">1</span>Alan</a>
	    <a href="" class="collection-item"><span class="new badge red">4</span>Alan</a>
	    <a href="" class="collection-item">Alan</a>
	    <a href="" class="collection-item"><span class="new badge pink">14</span>Alan</a>
	</div>
	<ul class="collapsible" data-collapsible="accordion">
	  <li>
	    <div class="collapsible-header"><span class="new badge">4</span><i class="material-icons">filter_drama</i>First</div>
	    <div class="collapsible-body"><p>Lorem ipsum dolor sit amet.</p></div>
	  </li>
	  <li>
	    <div class="collapsible-header"><span class="badge">1</span><i class="material-icons">place</i>Second</div>
	    <div class="collapsible-body"><p>Lorem ipsum dolor sit amet.</p></div>
	  </li>
	</ul>
	<h2 class="center">Button</h2>
	
	<div class="row">
      <div class="col s12 m12">
        <div class="card-panel white">
          <span class="white-text"><a class="waves-effect waves-light btn"><i class="material-icons left">cloud</i>button</a>
			<a class="waves-effect waves-light btn"><i class="material-icons right">cloud</i>button</a>
			<a class="waves-effect waves-light btn-large">Button</a>
			<a class="waves-effect waves-light btn-large"><i class="material-icons left">cloud</i>button</a>
			<a class="waves-effect waves-light btn-large"><i class="material-icons right">cloud</i>button</a>
        	<a class="btn-large disabled">Button</a>
			<a class="btn disabled">Button</a>
			<a class="btn-flat disabled">Button</a>
			<a class="btn-floating disabled"><i class="material-icons">add</i></a>
          </span>
        </div>
      </div>
    </div>
	
    <div class="fixed-action-btn" style="right: 90px">
       <a class="btn-floating btn-large red"><i class="large material-icons">mode_edit</i></a>
       <ul>
          <li><a class="btn-floating red"><i class="material-icons">insert_chart</i></a></li>
          <li><a class="btn-floating yellow darken-1"><i class="material-icons">format_quote</i></a></li>
          <li><a class="btn-floating green"><i class="material-icons">publish</i></a></li>
          <li><a class="btn-floating blue"><i class="material-icons">attach_file</i></a></li>
       </ul>
    </div>
    <div class="fixed-action-btn horizontal" style="bottom: 90px">
       <a class="btn-floating btn-large purple pulse"><i class="large material-icons">mode_edit</i></a>
       <ul>
          <li><a class="btn-floating red"><i class="material-icons">insert_chart</i></a></li>
          <li><a class="btn-floating yellow darken-1"><i class="material-icons">format_quote</i></a></li>
          <li><a class="btn-floating green"><i class="material-icons">publish</i></a></li>
          <li><a class="btn-floating blue"><i class="material-icons">attach_file</i></a></li>
       </ul>
    </div>
    <div class="fixed-action-btn horizontal click-to-toggle" style="bottom: 160px">
       <a class="btn-floating btn-large pink"><i class="material-icons">menu</i></a>
       <ul>
          <li><a class="btn-floating red"><i class="material-icons">insert_chart</i></a></li>
          <li><a class="btn-floating yellow darken-1"><i class="material-icons">format_quote</i></a></li>
          <li><a class="btn-floating green"><i class="material-icons">publish</i></a></li>
          <li><a class="btn-floating blue"><i class="material-icons">attach_file</i></a></li>
       </ul>
    </div>
    <div class="fixed-action-btn toolbar">
       <a class="btn-floating btn-large orange"><i class="large material-icons">mode_edit</i></a>
       <ul>
          <li class="waves-effect waves-light"><a href="#!"><i class="material-icons">insert_chart</i></a></li>
          <li class="waves-effect waves-light"><a href="#!"><i class="material-icons">format_quote</i></a></li>
          <li class="waves-effect waves-light"><a href="#!"><i class="material-icons">publish</i></a></li>
          <li class="waves-effect waves-light"><a href="#!"><i class="material-icons">attach_file</i></a></li>
       </ul>
    </div>

	<div class="row">
		<div class="col s12 m12 l12">
			<div class="card-panel white">
				<div class="row">
				    <form class="col s12">
				      <div class="row">
				        <div class="input-field col s6">
				          <input placeholder="Placeholder" id="first_name" type="text" class="validate">
				          <label for="first_name">First Name</label>
				        </div>
				        <div class="input-field col s6">
				          <input id="last_name" type="text" class="validate">
				          <label for="last_name">Last Name</label>
				        </div>
				      </div>
				      <div class="row">
				        <div class="input-field col s12">
				          <input disabled value="I am not editable" id="disabled" type="text" class="validate">
				          <label for="disabled">Disabled</label>
				        </div>
				      </div>
				      <div class="row">
				        <div class="input-field col s12">
				          <input id="password" type="password" class="validate">
				          <label for="password">Password</label>
				        </div>
				      </div>
				      <div class="row">
				        <div class="input-field col s12">
				          <input id="email" type="email" class="validate">
				           <label for="email" data-error="wrong" data-success="right">Email</label>
				        </div>
				      </div>
				      <div class="row">
				        <div class="col s12">
				          This is an inline input field:
				          <div class="input-field inline">
				            <input id="email" type="email" class="validate">
				            <label for="email" data-error="wrong" data-success="right">Email</label>
				          </div>
				        </div>
				      </div>
				    </form>
				</div><!-- row awal -->
				<div class="row">
				    <form class="col s12">
				      <div class="row">
				        <div class="input-field col s6">
				          <i class="material-icons prefix">account_circle</i>
				          <input id="icon_prefix" type="text" class="validate">
				          <label for="icon_prefix">First Name</label>
				        </div>
				        <div class="input-field col s6">
				          <i class="material-icons prefix">phone</i>
				          <input id="icon_telephone" type="tel" class="validate">
				          <label for="icon_telephone">Telephone</label>
				        </div>
				      </div>
				    </form>
				</div>
				<div class="row">
					<div class="col s4">
						 <form action="#">
						    <p>
						      <input name="group1" type="radio" id="test1" />
						      <label for="test1">Red</label>
						    </p>
						    <p>
						      <input name="group1" type="radio" id="test2" />
						      <label for="test2">Yellow</label>
						    </p>
						    <p>
						      <input class="with-gap" name="group1" type="radio" id="test3"  />
						      <label for="test3">Green</label>
						    </p>
						    <p>
						      <input name="group1" type="radio" id="test4" disabled="disabled" />
						      <label for="test4">Brown</label>
						    </p>
						  </form>
					</div>
					<div class="col s4">
						<form action="#">
						    <p>
						      <input type="checkbox" id="test5" />
						      <label for="test5">Red</label>
						    </p>
						    <p>
						      <input type="checkbox" id="test6" checked="checked" />
						      <label for="test6">Yellow</label>
						    </p>
						    <p>
						      <input type="checkbox" class="filled-in" id="filled-in-box" checked="checked" />
						      <label for="filled-in-box">Filled in</label>
						    </p>
						    <p>
						      <input type="checkbox" id="indeterminate-checkbox" />
						      <label for="indeterminate-checkbox">Indeterminate Style</label>
						    </p>
						    <p>
						      <input type="checkbox" id="test7" checked="checked" disabled="disabled" />
						      <label for="test7">Green</label>
						    </p>
						    <p>
						      <input type="checkbox" id="test8" disabled="disabled" />
						      <label for="test8">Brown</label>
						    </p>
						  </form>
					</div>
					<div class="col s4">
						 <!-- Switch -->
					  <div class="switch">
					    <label>
					      Off
					      <input type="checkbox">
					      <span class="lever"></span>
					      On
					    </label>
					  </div>
					  <br>

					  <!-- Disabled Switch -->
					  <div class="switch">
					    <label>
					      Off
					      <input disabled type="checkbox">
					      <span class="lever"></span>
					      On
					    </label>
					  </div>
					</div>
				</div> <!-- row -->
				<div class="row">
					<div class="col m12 s12 l12">
						<span>File input</span>
						<form action="#">
						    <div class="file-field input-field">
						      <div class="btn">
						        <span>File</span>
						        <input type="file">
						      </div>
						      <div class="file-path-wrapper">
						        <input class="file-path validate" type="text">
						      </div>
						    </div>
						</form>
					</div>
				</div> <!-- row -->
				<div class="row">
					<div class="col l12 s12 m12">
						<span>HTML5 Range</span>
						  <form action="#">
						    <p class="range-field">
						      <input type="range" id="test5" min="0" max="100" />
						    </p>
						  </form>
					</div>
					<div class="col l12 s12 m12">
						<p>Datepicker</p>
						<label for="date">Datepicker</label>
						<input type="date" id="date" class="datepicker">
					</div>
				</div>
			</div>
		</div>	
	</div>
	<div class="row">
		<div class="col s12 l12 m12">
			<div class="card white">
				<div class="card-content">
					<span class="card-title">Select2</span>
					<div class="input-field col s12">
				    <select>
				      <option value="" disabled selected>Choose your option</option>
				      <option value="1">Option 1</option>
				      <option value="2">Option 2</option>
				      <option value="3">Option 3</option>
				    </select>
				    <label>Materialize Select</label>
				  </div>

				  <div class="input-field col s12">
				    <select multiple>
				      <option value="" disabled selected>Choose your option</option>
				      <option value="1">Option 1</option>
				      <option value="2">Option 2</option>
				      <option value="3">Option 3</option>
				    </select>
				    <label>Materialize Multiple Select</label>
				  </div>

				  <div class="input-field col s12">
				    <select multiple>
				      <optgroup label="team 1">
				        <option value="1">Option 1</option>
				        <option value="2">Option 2</option>
				      </optgroup>
				      <optgroup label="team 2">
				        <option value="3">Option 3</option>
				        <option value="4">Option 4</option>
				      </optgroup>
				    </select>
				    <label>Optgroups</label>
				  </div>

				  <div class="input-field col s12 m6">
				    <select class="icons">
				      <option value="" disabled selected>Choose your option</option>
				      <option value="" data-icon="http://materializecss.com/images/sample-1.jpg" class="circle">example 1</option>
				      <option value="" data-icon="http://materializecss.com/images/office.jpg" class="circle">example 2</option>
				      <option value="" data-icon="http://materializecss.com/images/yuna.jpg" class="circle">example 3</option>
				    </select>
				    <label>Images in select</label>
				  </div>
				  <div class="input-field col s12 m6">
				    <select class="icons">
				      <option value="" disabled selected>Choose your option</option>
				      <option value="" data-icon="http://materializecss.com/images/sample-1.jpg" class="left circle">example 1</option>
				      <option value="" data-icon="http://materializecss.com/images/office.jpg" class="left circle">example 2</option>
				      <option value="" data-icon="http://materializecss.com/images/yuna.jpg" class="left circle">example 3</option>
				    </select>
				    <label>Images in select</label>
				  </div>

				  <label>Browser Select</label>
				  <select class="browser-default">
				    <option value="" disabled selected>Choose your option</option>
				    <option value="1">Option 1</option>
				    <option value="2">Option 2</option>
				    <option value="3">Option 3</option>
				  </select>
				</div>
			</div>
		</div>
	</div>
	<!-- pagination -->
	<div class="row">
		<div class="col s12 l12 m12">
			<div class="card white">
				<div class="card-content">
					<span class="card-title">pagination</span>
					 <ul class="pagination">
					    <li class="disabled"><a href="#!"><i class="material-icons">chevron_left</i></a></li>
					    <li class="active"><a href="#!">1</a></li>
					    <li class="waves-effect"><a href="#!">2</a></li>
					    <li class="waves-effect"><a href="#!">3</a></li>
					    <li class="waves-effect"><a href="#!">4</a></li>
					    <li class="waves-effect"><a href="#!">5</a></li>
					    <li class="waves-effect"><a href="#!"><i class="material-icons">chevron_right</i></a></li>
					  </ul>
				</div>
			</div>
		</div>
	</div>
    <!-- Modal Trigger -->
    <div class="row">
		<div class="col s12 l12 m12">
			<div class="card white">
				<div class="card-content">
					<span class="card-title">Modal</span>
					 <a class="waves-effect waves-light btn" href="#modal1">Modal footer</a>

					  <!-- Modal Structure -->
					  <div id="modal1" class="modal bottom-sheet">
					    <div class="modal-content">
					      <h4>Modal Header</h4>
					      <p>Reprehenderit in commodo ut consequat enim deserunt dolore non mollit eiusmod occaecat anim incididunt consectetur est est culpa.</p>
					    </div>
					    <div class="modal-footer">
					      <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Agree</a>
					    </div>
					  </div>

					  <a class="modal-trigger waves-effect waves-light btn" href="#modal2">Modal 2 Fixed Footer</a>

					  <!-- Modal Structure -->
					  <div id="modal2" class="modal modal-fixed-footer">
					    <div class="modal-content">
					      <h4>Modal Header</h4>
					      <p>Sint quis est in sit eu enim in est in elit consectetur qui id culpa consectetur ad ut cupidatat sed eiusmod ut reprehenderit veniam consectetur minim dolor est elit excepteur reprehenderit dolore non nulla tempor dolor nostrud enim nostrud non ut eiusmod elit dolore aute consequat nostrud cillum in laboris dolor in enim tempor enim consectetur pariatur fugiat minim elit nisi consequat pariatur voluptate cillum aliqua cupidatat ut sint ad culpa amet ex nostrud consequat duis ex nisi est dolore in ad veniam magna adipisicing ex aute adipisicing officia qui do exercitation ut commodo incididunt esse et adipisicing ut cillum ea commodo eu quis dolore consequat incididunt nostrud amet esse eu veniam est officia est anim dolor exercitation aute occaecat id incididunt tempor consequat tempor nostrud ut occaecat cupidatat enim est ut aliquip reprehenderit laborum velit sunt officia sed eu est cillum non et cillum velit eu cupidatat commodo irure fugiat voluptate cupidatat laborum aliquip ea enim do aute .</p>
					    </div>
					    <div class="modal-footer">
					      <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat ">Agree</a>
					    </div>
					  </div>

					  <a class="waves-effect waves-light btn" href="#modal3">Modal 3</a>

					  <!-- Modal Structure -->
					  <div id="modal3" class="modal">
					    <div class="modal-content">
					      <h4>Modal Header</h4>
					      <p>Nisi in do excepteur quis non qui nostrud aliqua laboris ex laboris mollit deserunt fugiat ut exercitation cupidatat sit in nostrud occaecat consectetur sit do dolor cupidatat ut ea commodo do ea cupidatat nisi labore aliquip do velit anim ut consectetur officia aute dolor adipisicing cupidatat ut dolor do sunt esse in adipisicing ullamco dolore consectetur et cillum sit aute in amet proident nisi dolore est voluptate quis amet dolor excepteur anim officia nisi adipisicing anim minim esse officia laborum proident quis dolor et in anim anim eu irure ea nisi esse culpa voluptate occaecat officia ut do pariatur aliquip esse officia nisi reprehenderit veniam esse consequat dolor nulla in non quis ut ullamco deserunt deserunt duis ut sit adipisicing esse sit aliquip veniam incididunt pariatur consequat irure magna cupidatat tempor mollit id minim irure sit minim magna velit fugiat excepteur tempor nostrud non dolor laborum labore sit sit id cillum ut cillum nulla aliqua cillum duis excepteur officia amet.</p>
					    </div>
					    <div class="modal-footer">
					      <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Agree</a>
					    </div>
					  </div>
          
				</div>
			</div>
		</div>
	</div>
  

   
</div>