<div class="section pink">
	<div class="container">
		<br>
		<h2 class="white-text center">Pulse HTML Structure</h2>
		<div class="row">
			<div class="col l4 m4 s6 center ">
				<a class="btn btn-floating btn-large pulse"><i class="material-icons">menu</i></a>
				
				
			</div>
			<div class="col l4 m4 s6 center ">
				
				<a class="btn btn-floating btn-large pulse"><i class="material-icons">cloud</i></a>
				
			</div>
			<div class="col l4 m4 s6 center ">
				
				
				<a class="btn btn-floating btn-large cyan pulse"><i class="material-icons">edit</i></a>
			</div>
		</div>
	</div>
</div>
<div class="section white">
	<div class="container">
		<div class="row">
			<h3 class="center">Table</h3>
			<div class="col s12 m12 l12">
				<table class="bordered highlight">
			        <thead>
			          <tr>
			              <th>Name</th>
			              <th>Item Name</th>
			              <th>Item Price</th>
			          </tr>
			        </thead>

			        <tbody>
			          <tr>
			            <td>Alvin</td>
			            <td>Eclair</td>
			            <td>$0.87</td>
			          </tr>
			          <tr>
			            <td>Alan</td>
			            <td>Jellybean</td>
			            <td>$3.76</td>
			          </tr>
			          <tr>
			            <td>Jonathan</td>
			            <td>Lollipop</td>
			            <td>$7.00</td>
			          </tr>
			        </tbody>
			    </table>
			</div>
		</div>
		<div class="row">
			<div class="col l12 m12 s12">
				<div class="col s12 m12 l12">
				<div class="card">
				    <div class="card-content orange">
				      <p>I am a very simple card. I am good at containing small bits of information. I am convenient because I require little markup to use effectively.</p>
				    </div>
				    <div class="card-tabs">
				      <ul class="tabs tabs-fixed-width">
				        <li class="tab"><a href="#test4">Test 1</a></li>
				        <li class="tab"><a class="active" href="#test5">Test 2</a></li>
				        <li class="tab"><a href="#test6">Test 3</a></li>
				      </ul>
				    </div>
				    <div class="card-content grey lighten-4">
				      <div id="test4">Lorem ipsum aliquip in adipisicing enim laborum consectetur proident esse exercitation mollit sint excepteur pariatur et qui eiusmod magna ut non laborum do eu et.</div>
				      <div id="test5"><i>Lorem ipsum aliquip in adipisicing enim laborum consectetur proident esse exercitation mollit sint excepteur pariatur et qui eiusmod magna ut non laborum do eu et qui eiusmod magna ut non laborum do eu et.</i></div>
				      <div id="test6"><b>Lorem ipsum aliquip in adipisicing enim laborum consectetur proident esse exercitation mollit sint excepteur pariatur et qui eiusmod magna ut non laborum do eu et.qui eiusmod magna ut non laborum do eu etqui eiusmod magna ut non laborum do eu et</b></div>
				    </div>
				  </div>
			</div>
			</div>
		</div>
	</div>
</div>