

<main>
   <div class="section no-pad-bot green" id="index-banner">
      <div class="container">
         <br><br>
         <h1 class="header center white-text">Materialize in Ruby on Rails</h1>
         <div class="row center white-text">
         	<!-- <h5 class="light"><%= Time.now %></h5> -->
            <h5 class="header col s12 light">A modern responsive front-end framework based on Material Design</h5>
            <h6 class="header col s12 light">Tested materialize-sass gem components with turbolinks enable, rails 5.1.0</h6>
         </div>
         <div class="row center">
         	<a class="btn-large waves-effect waves-light orange" href="/component" id="download-button"> Get Started</a>
         	<a class="btn-large waves-effect waves-light orange" href="post/new" id="download-button"> New Post</a>
         	 <!-- Element Showed -->
  			<!-- <a id="menu" class="waves-effect waves-light btn btn-floating" ><i class="material-icons">apps</i></a> -->

			  <!-- Tap Target Structure -->
			  <!-- <div class="tap-target" data-activates="menu">
			    <div class="tap-target-content">
			      <h5>Hallo...</h5>
			      <p>Welcome in Materialize Ruby on Rails</p>
			    </div>
			  </div> -->
         </div>
         <br><br>
      </div>
   </div>
    <div class="fixed-action-btn">
       <a class="btn-floating btn-large pink darken-1 pulse" id="menu"><i class="large material-icons">mode_edit</i></a>
       <ul>
          <li><a class="btn-floating red"><i class="material-icons">insert_chart</i></a></li>
          <li><a class="btn-floating yellow darken-1"><i class="material-icons">format_quote</i></a></li>
          <li><a class="btn-floating green"><i class="material-icons">publish</i></a></li>
          <li><a class="btn-floating blue"><i class="material-icons">attach_file</i></a></li>
       </ul>
    </div>
    <br>
	<div class="section">
		<div class="container">
			<div class="row">
				<div class="col m12 l12 s12">
					<div class="card white">
						<div class="card-content">
							<!-- <span class="card-title">pagination</span> -->
							
						</div>
					</div>
					
				</div> <!-- colom -->
			</div> <!-- row -->
		</div> <!-- container -->
	</div> <!-- section close -->

	<div class="section">
		<div class="container">
			<div class="card white">
				<div class="card-content">
					<span class="card-title"> Form</span>
					
					<%= form_tag("", method: "get") do %>
						<div class="row">
						    <div class="col s12">
						      	<div class="row">
							        <div class="input-field col s6">
							          	<i class="material-icons prefix">account_circle</i>
							          	<!-- <input id="icon_prefix" type="text" class="validate"> -->
										
										<%= label_tag(:q, "Your name") %>
  										<%= text_field_tag :q, class: 'validate' %>
							          	
							        </div>
							        <div class="input-field col s6">
							          <i class="material-icons prefix">phone</i>
							          <input id="icon_telephone" type="tel" class="validate">
							          <label for="icon_telephone">Telephone</label>
							        </div>
						      	</div> <!-- row -->
						    </div> <!-- col -->
						</div> <!-- row -->
					<% end %>
				</div>
			</div>
		</div>
	</div>


    <div class="section white">
    	<div class="container">
	         <!--Icon Section-->
	        <div class="row">
	            <div class="col s12 m4">
	               <div class="icon-block">
	                  <h2 class="center light-blue-text"><i class="material-icons">flash_on</i></h2>
	                  <h5 class="center">Speeds up development </h5>
	                  <p class="light">We did most of the heavy lifting for you to provide a default stylings that incorporate our custom components. Additionally, we refined animations and transitions to provide a smoother experience for developers.</p>
	               </div>
	            </div>
	            <div class="col s12 m4">
	               <div class="icon-block">
	                  <h2 class="center light-blue-text"><i class="material-icons">group</i></h2>
	                  <h5 class="center">User Experience Focused</h5>
	                  <p class="light">By utilizing elements and principles of Material Design, we were able to create a framework that incorporates components and animations that provide more feedback to users. Additionally, a single underlying responsive system across all platforms allow for a more unified user experience.</p>
	               </div>
	            </div>
	            <div class="col s12 m4">
	               <div class="icon-block">
	                  <h2 class="center light-blue-text"><i class="material-icons">settings</i></h2>
	                  <h5 class="center">Easy to work with</h5>
	                  <p class="light">We have provided detailed documentation as well as specific code examples to help new users get started. We are also always open to feedback and can answer any questions a user may have about Materialize.</p>
	               </div>
	            </div>
	        </div>
	    </div>
    </div>

</main>


